<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title | default: site.title }}</title>
        <meta name="description" content="{{ site.description }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- SEO tag (optional) -->
        {%- seo -%}

        <!-- Link to the custom CSS file -->
        <link
            rel="stylesheet"
            href="{{ '/assets/css/style.css' | relative_url }}"
        />
    </head>
    <body>
        <header>
            <a href="{{ '/' | relative_url }}" class="site-title"
                >Michael Scutari</a
            >
            <!-- HAMBURGER BUTTON -->
            <button class="hamburger" aria-label="Toggle menu">☰</button>
            <div class="overlay"></div>
            <!-- NAV LINKS -->
            <nav class="nav-links">
                <a href="{{ '/' | relative_url }}">About</a>
                <a href="{{ '/projects/' | relative_url }}">Projects</a>
                <a href="{{ '/contact/' | relative_url }}">Contact</a>
                <a
                    href="{{ '/assets/scutari_resume.pdf' | relative_url }}"
                    download
                    >Resume <span class="download-arrow">⬇</span></a
                >
            </nav>
        </header>
        <!-- Minimal JS -->
        <script>
            const hamburgerBtn = document.querySelector(".hamburger");
            const navLinks = document.querySelector(".nav-links");
            const overlay = document.querySelector(".overlay");

            // Open or close the menu on hamburger click
            hamburgerBtn.addEventListener("click", () => {
                navLinks.classList.toggle("open");
                overlay.classList.toggle("open");
            });

            // Close the menu if clicking on the overlay
            overlay.addEventListener("click", () => {
                navLinks.classList.remove("open");
                overlay.classList.remove("open");
            });
        </script>

        <!-- Dynamically add a class to the main element -->
        <main class="{{ page.css_class | default: '' }}">{{ content }}</main>

        <footer>
            <p>&copy; {{ site.time | date: "%Y" }} Michael Scutari</p>
        </footer>

        <!-- Cloudflare Web Analytics -->
        <script
            defer
            src="https://static.cloudflareinsights.com/beacon.min.js"
            data-cf-beacon='{"token": "6ec5be971fc84aaf85ee810ce072b8e2"}'
        ></script>
        <!-- End Cloudflare Web Analytics -->
    </body>
</html>
