<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title | default: site.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ '/assets/css/style.css' | relative_url }}"
        />
    </head>
    <body>
        <header>
            <a href="{{ '/' | relative_url }}" class="site-title"
                >Michael Scutari</a
            >
            <!-- HAMBURGER BUTTON -->
            <button class="hamburger" aria-label="Toggle menu">☰</button>
            <div class="overlay"></div>
            <!-- NAV LINKS -->
            <nav class="nav-links">
                <a href="{{ '/' | relative_url }}">About</a>
                <a href="{{ '/projects/' | relative_url }}">Projects</a>
                <a href="{{ '/contact/' | relative_url }}">Contact</a>
                <a
                    href="{{ '/assets/scutari_resume.pdf' | relative_url }}"
                    download
                    >Resume <span class="download-arrow">⬇</span></a
                >
            </nav>
        </header>
        <script>
            const hamburgerBtn = document.querySelector(".hamburger");
            const navLinks = document.querySelector(".nav-links");
            const overlay = document.querySelector(".overlay");

            hamburgerBtn.addEventListener("click", () => {
                navLinks.classList.toggle("open");
                overlay.classList.toggle("open");
            });
        </script>

        <main class="project-page">
            <!-- Show project content -->
            <article class="project-content">
                <h1>{{ page.title }}</h1>
                {{ content }}
            </article>
        </main>

        <footer>
            <p>&copy; {{ site.time | date: "%Y" }} Michael Scutari</p>
        </footer>
    </body>
</html>
